extends layout

block content
  h1= title
  p Welcome to #{title}
  h3 Login Here
  form(action="/home", method="post")
    label(for="username") Username:
    input(type="text", name="username")
    br
    label(for="password") Password:
    input(type="password", name="password")
    br
    input(type="submit", value="Submit")

  br
  h3 Don't have an account?
  a(href="/signup") Create Account Here